*.exe
*.obj
*.opensdf
*.sdf
*.pdb
*.ilk
*.log
*.tlog
*.suo
*.idb
*.xml
*.db
*.db
StellarReactionTest/Debug/StellarReactionTest.pch
*.coverage
*.ipch
*StellarReactionStatic-d.lib
*StellarReactionStatic.lib


# Mac
.DS_Store
*.cache
*.filters
