*.exe
*.obj
*.opensdf
*.sdf
*.pdb
*.ilk
*.log
*.tlog
*.suo
*.idb
*.xml
*.db
*.psess
*.vsp

*.coverage
*.ipch


#######################
#Documentation
#######################
/doc/generated/*



#######################
#Project Specific files
#######################
StellarReactionTest/Debug/StellarReactionTest.pch
*StellarReactionStatic-d.lib
*StellarReactionStatic.lib



#######################
# Mac
#######################
.DS_Store
*.cache
*.filters
*.lnk
